<div class="mainClass">
  <h1>
    MATEO'S TODOS
  </h1>
  <div class="row">
    <div class="col-md-12">
      <input type="text" (keyup)="onKey($event)" [(ngModel)]="newTodo">
    </div>
  </div>
  <app-todo *ngFor="let item of todoListShowing;" [item]="item" (onChange)="changeStatus($event)"
    (onRemove)="removeTodo($event)">
  </app-todo>
  <br>
  <div [hidden]="totalItems() == 0">
    {{activeResult}} items left
    <button (click)="filter('All')">All</button>
    <button (click)="filter('Active')">Active</button>
    <button (click)="filter('Completed')">Completed</button>
  </div>
</div>