.done {
    text-decoration: line-through;
}

button {
    border: none;
    padding: 0.5rem;
    text-align: center;
    vertical-align: text-top;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
    width: 50%;
}

.completed {
    background-color: rgb(172, 167, 167);
}

.complete {
    background-color: rgb(147, 225, 147);
}

.error {
    background-color: rgb(235, 116, 116);
}

p {
    font-size: 20px;
}

.row {
    border: 2px solid rgb(172, 167, 167);
    border-radius: 5px;
}