.done {
    text-decoration: line-through;
}

button {
    
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
}

.complete {
    background-color: rgb(147, 225, 147);
}

.error {
    background-color: rgb(235, 116, 116);
}

p {
    font-size: 20px;
}

.row {
    border: 2px solid rgb(172, 167, 167);
    border-radius: 5px;
}